.event *
{
    text-align: center;
    padding: 20px;
}

div.logoContainer
{
    position: absolute;
    left: 160px;
    bottom: 290px;
}

.event img.logo
{
   height: 150px;
   max-height:150px;
    /*max-width: 200px;*/
}

#end
{
	display: none;
}

#start
{
	display: none;
}